DATABASE_URL=postgresql://neondb_owner:npg_XIVPmR0zxe8t@ep-mute-frog-a5aql0g8-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

OPENAI_API_KEY=
OPENWEATHER_API_KEY=
SARVAM_API_KEY=

APP_NAME=WeatherGPT
DEBUG=false
