<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Device location -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Microphone for voice chat -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />

    <!-- Camera for AI Sky/Cloud Analysis -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/weather_gpt_icon"
        android:label="WeatherGPT"
        android:roundIcon="@drawable/weather_gpt_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherGPT">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

    </application>

</manifest>
